// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  background-size: cover;
  background-position: center;
  height: 400px;
}
.show{
  position: relative;
  top: 300px;
}


.links > i {
  font-size: 30px;
}
